@page
@model frontend_service.AboutModel
@{
    ViewData["Title"] = "О приложении";
}
<div></div>
<div class="jumbotron">
    <h1 class="display-4"><img src="Files/logoIS2.png" width="60" height="60" align="middle"/>Интегрированная среда 2</h1>
    <p class="lead">Приложение для создания проектов автоматизированных систем по МАИТ</p>
    <hr class="my-4">
    <p>На кафедре «Информационных технологий и вычислительных систем» было разработано два новых программных комплекса, получивших общее название «Интегрированная Среда 2» (ИС-2). ИС-2 включает в себя поддержку процесса начального моделирования (ИС-2 Начальная модель) и процесса концептуального моделирования (ИС-2 Концептуальная модель). На данный момент ведется разработка третьего комплекса ИС-2 – «Инфологическое моделирование».</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://itvs-stankin.ru/is2.html" role="button">Перейти на сайт разработчика</a>
    </p>
</div>