@page
@model frontend_service.ApplicationModel
@using filejob_service.Models;
@{
    ViewData["Title"] = "Приложение";
    Layout = "";
    string titleUpload1 = "Файл исходной диаграммы";
    string titleUpload2 = "Файл интегрируемой диаграммы";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Сервис интеграции диаграмм" />
    <meta name="author" content="iddqd" />
    <title>IS2-Union - Приложение</title>
    <link rel="icon" type="image/x-icon" href="~/Files/logo.png" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!--nav-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">IS2-Union</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Index">Главная</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Index#about">О приложении</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--about-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">
                        Приступим к соединению?
                    </h2>
                    <p class="text-white-50">
                        Для успешной интеграции выполните действия по шагам, указанным ниже.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!--mini-blocks-->
    <section class="projects-section bg-light" id="application">
        <div class="container">
            <form class="was-validated" method="post" enctype="multipart/form-data">
                <hr />
                <div class="form-group">
                    <h2>Шаг 1</h2>
                    <p>Необходимо выбрать исходный файл <*.is2>.</p>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputFileCurrent" accept=".is2" asp-for="Upload" required>
                        <label class="custom-file-label" for="inputFileCurrent" id="select_file">@titleUpload1</label>
                        <div class="invalid-feedback">
                            <svg class="bi bi-exclamation-triangle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" clip-rule="evenodd" />
                                <path d="M7.002 12a1 1 0 112 0 1 1 0 01-2 0zM7.1 5.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 5.995z" />
                            </svg>
                            Файл не выбран
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <h2>Шаг 2</h2>
                    <p>Необходимо выбрать интегрируемый файл <*.is2>.</p>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputFileIntegr" accept=".is2" asp-for="Upload2" required>
                        <label class="custom-file-label" for="inputFileIntegr">@titleUpload2</label>
                        <div class="invalid-feedback">
                            <svg class="bi bi-exclamation-triangle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" clip-rule="evenodd" />
                                <path d="M7.002 12a1 1 0 112 0 1 1 0 01-2 0zM7.1 5.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 5.995z" />
                            </svg>
                            Файл не выбран
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <h2>Шаг 3</h2>
                    <p>Необходимо загрузить файлы <*.is2>.</p>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            Загрузить
                            <svg class="bi bi-upload" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8zM5 4.854a.5.5 0 00.707 0L8 2.56l2.293 2.293A.5.5 0 1011 4.146L8.354 1.5a.5.5 0 00-.708 0L5 4.146a.5.5 0 000 .708z" clip-rule="evenodd" />
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 2z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
                <hr />
            </form>
        </div>
    </section>
    <!--footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container">
            &copy;@DateTime.Now.Year -
            <a asp-area="" asp-page="/Index">
                IS2service @Startup.versionShow
            </a>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

    

