@page
@model frontend_service.ApplicationResultModel
@{
    ViewData["Title"] = "Результат интеграции";
    string token = Request.Cookies["token_"];
    var error = Model.error;
    List<string> resultElements = Startup.clientData[Model.filejobPage3.IndexClientData].ResultElements;
    List<string> resultLinks = Startup.clientData[Model.filejobPage3.IndexClientData].ResultLinks;
    var resultDcmp = Startup.clientData[Model.filejobPage3.IndexClientData].ResultDcmp;
    var url = Model.filejobPage3.Url_filestorage + "download?token=" + token;
}

    <div class="jumbotron">
        <p style="font-size: 58px">
            <img src="/Files/logo.png" width="80" height="80" align="middle"> Готово!
        </p>
        <p class="lead">Процесс соединения окончен. Получите результат!</p>
        <hr class="my-4">
        <p><a class="btn btn-primary btn-lg" href="@url" download="" >Загрузить файл</a></p>
    </div>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Содержимое элементов диаграммы
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                @foreach (string item in resultElements)
                {
                    @item<br />
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Содержимое связей диаграммы
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                @foreach (string item in resultLinks)
                {
                    @item<br />
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Содержимое декомпозиции
                </button>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
            <div class="card-body">
                @resultDcmp
            </div>
        </div>
    </div>
</div>
