@page
@model frontend_service.ApplicationModel
@using filejob_service.Models;
@{
    ViewData["Title"] = "Приложение";
    string titleUpload1 = "Файл исходной диаграммы";
    string titleUpload2 = "Файл интегрируемой диаграммы";

}

<div class="jumbotron">
    <p style="font-size: 58px">
        <img src="/Files/logo.png" width="80" height="80" align="middle"> Приступим к соединению?
    </p>
    <p class="lead">Для успешной интеграции выполните действия по шагам, указанным ниже.</p>
</div>

<form class="was-validated" method="post" enctype="multipart/form-data">
    <hr />
    <div class="form-group">
        <h2>Шаг 1</h2>
        <p>Необходимо выбрать исходный файл <*.is2>.</p>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputFileCurrent" accept=".is2" asp-for="Upload" required>
            <label class="custom-file-label" for="inputFileCurrent" id="select_file">@titleUpload1</label>
            <div class="invalid-feedback">Файл не выбран</div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <h2>Шаг 2</h2>
        <p>Необходимо выбрать интегрируемый файл <*.is2>.</p>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputFileIntegr" accept=".is2" asp-for="Upload2" required>
            <label class="custom-file-label" for="inputFileIntegr">@titleUpload2</label>
            <div class="invalid-feedback">Файл не выбран</div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <h2>Шаг 3</h2>
        <p>Необходимо загрузить файлы <*.is2>.</p>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Загрузить 
                <svg class="bi bi-upload" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8zM5 4.854a.5.5 0 00.707 0L8 2.56l2.293 2.293A.5.5 0 1011 4.146L8.354 1.5a.5.5 0 00-.708 0L5 4.146a.5.5 0 000 .708z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 2a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 2z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
    <hr />
</form>

