@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="jumbotron">
    <p style="font-size: 58px">
        <img src="/Files/logo.png" width="80" height="80" align="middle"> Сервис интеграции диаграмм ИС-2
    </p>
    <p class="lead">Приложение позволяет интегрировать диаграммы из разных проектов, тем самым повышая эффективность процесса проектирования автоматизированных систем для комплексов предметных задач.</p>
    <p><a class="btn btn-primary btn-lg" asp-page="/Application">Попробовать &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Принцип работы</h2>
        <p>
            Входной информацией в модуле интеграции является исходный файл и импортируемый файл в формате XML, содержащий диаграмму подзадачи, которая после обработки алгоритмом присоединяется к диаграмме комплекса задач, в результате чего на выходе получается один файл с результирующей диаграммой, объединяющей исходные.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/About.aspx">Подробнее &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Что такое ИС-2?</h2>
        <p>
            ИС-2 - среда для проектирования начальных и концептуальных моделей. Оба этих комплекса были реализованы с учетом особенностей МАИТ и использовали средства, предоставляемые языком программирования С++, расширенным кроссплатформенным фреймворком Qt, что позволило значительно увеличить функциональность визуальной интегрированной среды и упростить ее применение.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/AboutIS2.aspx">Подробнее &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Что такое диаграмма?</h2>
        <p>
            Диаграмма - графическое описание, отражающее последовательность выполнения алгоритма автоматизированной системы, разрабатываемой для решения предметной задачи в вычислительной среде.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/About.aspx">Подробнее &raquo;</a>
        </p>
    </div>
</div>

