@page
@model frontend_service.QAModel
@{
    ViewData["Title"] = "QA panel";
    string token = Request.Cookies["token_"];


    var resultTest1 = "";
    try
    {
        foreach (string item in Startup.qaData.DecStrElements)
        {
            resultTest1 += item;
        }
    }
    catch { resultTest1 = "error or empty"; }

    var resultTest2 = "";
    try
    {
        resultTest2 = Startup.qaData.DecStrElementsString;
    }
    catch { resultTest2 = "error or empty"; }

}

<div class="jumbotron">
    <p style="font-size: 58px">
        <img src="/Files/logo.png" width="80" height="80" align="middle"> QA panel
    </p>
</div>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Содержимое <decStr> по элементам
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                @foreach (string item in Startup.qaData.DecStrElements)
                {
                    @item<br />
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Содержимое <decStr> строкой
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                @resultTest2
            </div>
        </div>
    </div>
</div>
