@page
@model frontend_service.QAModel
@{
    ViewData["Title"] = "QA panel";
    string token = Request.Cookies["token_"];
    var resultTestShowDecstrElementsString = Model.TestDecstrElementsString();
    var resultTestGetCurDcmp = Model.TestGetRequestCurrentDecstr();
    var resultTestGetIntDcmp = Model.TestGetRequestIntDecstr();
    var resultTestGetResDcmp = Model.TestGetRequestResDecstr();
}

<div class="jumbotron">
    <p style="font-size: 58px">
        <img src="/Files/logo.png" width="80" height="80" align="middle"> QA panel
    </p>
</div>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="heading5">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    GET: /resdcmp
                </button>
            </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
            <div class="card-body">
                @resultTestGetResDcmp
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    GET: /intdcmp
                </button>
            </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
            <div class="card-body">
                @resultTestGetIntDcmp
            </div>
        </div>
    </div>
     
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    GET: /curdcmp
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                @resultTestGetCurDcmp
            </div>
        </div>
    </div>  

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Содержимое {decStr} по элементам
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                @foreach (string item in Startup.qaData.DecStrElements)
                {
                    @item<br />
                }
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Содержимое {decStr} строкой
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                @resultTestShowDecstrElementsString
            </div>
        </div>
    </div>
</div>
